ASPNETCORE_ENVIRONMENT=Development
POSTGRES_USER=ruinarpg
POSTGRES_PASSWORD=change-me
JWT_SIGNING_KEY=change-me-to-a-long-random-string
JWT_ISSUER=RuinaRPG
JWT_AUDIENCE=RuinaRPG
JWT_ACCESS_TOKEN_MINUTES=15
JWT_REFRESH_TOKEN_DAYS=30
CORS_ALLOWED_ORIGINS=http://localhost
